{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source4dvh?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 26 Sep 2024 00:04:49 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDDBEDA9401E2\"",
        "Last-Modified": "Thu, 26 Sep 2024 00:04:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source4dvh/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Sep 2024 00:04:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "Rmlyc3QgRW5nbGlzaCB0ZXN0IGZpbGU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "+94DaBoKu1qjNr4vdllKqw==",
        "ETag": "\"0x8DCDDBEDA9D5079\"",
        "Last-Modified": "Thu, 26 Sep 2024 00:04:56 GMT",
        "x-ms-content-crc64": "C4ruTa9GI7I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source4dvh/File2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 26 Sep 2024 00:04:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "U2Vjb25kIEVuZ2xpc2ggdGVzdCBmaWxl",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XzoI1xxpM0jDxQDc8YwtbA==",
        "ETag": "\"0x8DCDDBEDAA6EC06\"",
        "Last-Modified": "Thu, 26 Sep 2024 00:04:56 GMT",
        "x-ms-content-crc64": "7dpCTbgbZzc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/targetozw4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 26 Sep 2024 00:04:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDDBEDE6C2671\"",
        "Last-Modified": "Thu, 26 Sep 2024 00:05:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://redacted.blob.core.windows.net/source4dvh"
            },
            "targets": [
              {
                "targetUrl": "https://redacted.blob.core.windows.net/targetozw4",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/translator/document/batches/2eda2a5c-4411-490b-98f9-c675a2932c2b?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "3a5e519a-1f13-4604-889c-6bcc178b9414"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/2eda2a5c-4411-490b-98f9-c675a2932c2b?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"E00AB1FEF106BD172576F49F77B22A0661862BFB5657013B80368AA5F452275E\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "9a07aab6-1238-4e10-9404-5b605fb820fd"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTimeUtc": "2024-09-26T00:05:36.2670145Z",
        "lastActionDateTimeUtc": "2024-09-26T00:05:45.9373294Z",
        "status": "Succeeded",
        "summary": {
          "total": 2,
          "failed": 0,
          "success": 2,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 47
        }
      }
    }
  ],
  "Variables": {}
}
